.box{
    box-sizing: border-box;
    border: 1px solid red;
    display:flex;
    flex-wrap: wrap;
}

.header{
    height: 200px;
    width: 100%; 
}

.footer{
    height: 200px;
    width: 100%; 
}

.orange{
    background-color: orange;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.black{
    background-color: black;
}

.element{
    width: 25%;
    height: 400px;
   
}